<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New photo set</h1>
  <div class="text-base font-semibold my-4">
    <span class="font-bold">NOTE:</span>
    Photo sets need to have 5 photos with them.
    <div class="text-base font-normal mt-4">
      You can use the same photo in another set but each set must have 5 unique photos,
      otherwise it will not load and display properly on the homepage.
    </div>
    <div class="text-base font-normal mt-4">
      Portrait photos are recommended, versus landscape, and should be, at least, 600px in height.
    </div>
  </div>

  <%= render partial: "form", locals: { photo_set: @photo_set } %>

  <%= link_to "Back to photo sets", admin_photo_sets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
