<div class="mx-auto grid max-w-lg items-center gap-x-8 gap-y-10 sm:max-w-xl grid-cols-5 md:grid-cols-3 lg:grid-cols-5 sm:gap-x-5 lg:mx-0 lg:max-w-none lg:grid-cols-5">
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://www.facebook.com/ColoradoKATCoalition" class="hover:opacity-50" target="_blank">
      <i class="fab fa-facebook text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">Colorado KAT Coalition</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://www.tiktok.com/@coloradokatcoalition" class="hover:opacity-50" target="_blank">
      <i class="fab fa-tiktok text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">@coloradokatcoalition</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://www.instagram.com/coloradokatcoalition/" class="hover:opacity-50" target="_blank">
      <i class="fab fa-instagram text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">coloradokatcoalition</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="mailto:cokatlady@gmail.com" class="hover:opacity-50" target="_blank">
      <i class="fa fa-mail-bulk text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">cokatlady@gmail.com</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="<%= donate_url %>" class="hover:opacity-50" target="_blank">
      <i class="fab fa-stripe text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">Support Us</span>
      </i>
    </a>
  </div>
</div>