<div class="mx-auto grid max-w-lg items-center gap-x-8 gap-y-10 sm:max-w-xl grid-cols-5 md:grid-cols-3 lg:grid-cols-5 sm:gap-x-5 lg:mx-0 lg:max-w-none lg:grid-cols-5">
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://www.facebook.com/ColoradoKATCoalition" class="hover:opacity-50" target="_blank">
      <i class="fab fa-facebook text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">Colorado KAT Coalition</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://www.tiktok.com/@coloradokatcoalition" class="hover:opacity-50" target="_blank">
      <i class="fab fa-tiktok text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">@coloradokatcoalition</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://www.instagram.com/coloradokatcoalition/" class="hover:opacity-50" target="_blank">
      <i class="fab fa-instagram text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">coloradokatcoalition</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="mailto:cokatlady@gmail.com" class="hover:opacity-50" target="_blank">
      <i class="fa fa-mail-bulk text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">cokatlady@gmail.com</span>
      </i>
    </a>
  </div>
  <div class="col-span-1 max-h-12 w-full object-contain lg:col-span-1 opacity-70">
    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fcash.app%2F%24COKATCOALITION&h=AT2zgwJbRSg3F8HhOjR77zLT_sdf6eV1tA2e1aU0Yu54O11UXV0wbCUu_FXCXM_dTLfNkm8ZiDArWvoU9E69iPsjUWqfsTjDOGqez9hN0Yjtz4Q_F6Len7wClgEDoncc2UX9v64f07ihQtSlff0E91boJWOrRUHl6k4b2F6RT9o" class="hover:opacity-50" target="_blank">
      <i class="fa fa-cash-register text-3xl text-white">
        <span class="hidden md:inline text-sm font-medium font-sans tracking-wide">$COKATCOALITION</span>
      </i>
    </a>
  </div>
</div>