<div class="bg-white py-24 md:py-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-20 px-6 lg:px-8 lg:grid-cols-3 xl:grid-cols-5">
    <div class="max-w-2xl xl:col-span-2">
      <% if notice.present? %>
        <div class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></div>
      <% end %>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Kitties</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">A colecction of the cats we have recently helped. If a cat is adoptable a note saying as much will appear below their listing.</p>
    </div>
    <ul role="list" class="-mt-12 space-y-12 divide-y divide-gray-200 lg:col-span-2 xl:col-span-3">
      <%= render @cats %>
    </ul>
  </div>
</div>
